* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: rgb(227, 234, 241);
}

.box-form {
    width: 50%;
    margin: 100px auto;
    
}

.box {
    background-color: aliceblue;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0 20px;
}

.tabel-form {
    width: 100%;
}

.input-control {
    padding: 5px 10px;
    font-size: 15px;
    margin: 5px 5px;
    
}

.btn-simpan {
    background-color: #3d93f0;
    border: none;
    color: white;
    padding: 8px 17px;
    font-size: 16px;
  }

.btn-simpan :hover {
    cursor: pointer;
    background-color: #4881AE;
}
