* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    
}

.heading {
    text-align: center;
    color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
}

body {
    background-image: url(img/kominfo-34.jpg);
    backdrop-filter: blur(5px);
    background-size:cover;
    background-repeat: no-repeat;
}

.box-form {
    width: 50%;
    margin: 100px auto;
}

.box {
    background-color: rgb(238, 242, 245);
    border: 1px solid #85d2ff;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0 20px;
}

.tabel-form {
    width: 100%;
}

.input-control {
    padding: 5px 10px;
    font-size: 15px;
    margin: 5px 5px;
    
}

.input-deks {
    padding: 5px 10px;
    margin: 5px 5px;
}

.btn-simpan {
    background-color: #3d93f0;
    border: none;
    color: white;
    padding: 8px 17px;
    font-size: 16px;
    margin: 5px 5px;
  }

.btn-simpan :hover {
    cursor: pointer;
    background-color: #ffffff;
}

.display {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    
}
